{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <p><strong>Posted By: </strong><a class="mr-2" href="#">{{ job.clients.username }}</a></p>
        <small class="text-muted"><strong>Date: </strong>{{ job.date_posted.strftime('%Y-%m-%d') }}</small>
        <div class="mt-2">
          <small class="text-muted"><strong>Location: {{ job.location }} State.</strong></small>
        </div>
      </div>
      <h2 class="article-title">{{ job.job_title }}</h2>
      <p class="article-content">{{ job.job_description }}</p>
      <p class="article-content">{{ job.content }}</p>
    </div>
  </article>
  <div class="btn">
    <button type="submit" class="btn btn-primary" href="#">Apply for the Job</button>
  </div>
{% endblock content %}