
.nav-pills li a:hover {
    background-color: rgb(67, 70, 233);
}

.container {
    display: flex;
}

.sidebar {
    width: 350px; /* Adjust width as needed */
    padding: 130px; /* Padding around sidebar content */
    margin-top: -70px;
    margin-left: -206px;
}

.sidebar-content {
    flex-grow: 1; /* Allow content to grow and fill remaining space */
    padding: 10px; /* Padding around content */
    background-color: #ffffff; /* Content background color */
    flex: 1;
    margin-top: -30px;


}
.nav {
    margin-left: -60px;    

}






