
.nav-pills li a:hover {
    background-color: rgb(67, 70, 233);
}

.container {
    display: flex;
}

.sidebar {
    width: 200px; /* Adjust width as needed */
    background-color: #f0f0f0; /* Sidebar background color */
    padding: 20px; /* Padding around sidebar content */
}

.content {
    flex-grow: 1; /* Allow content to grow and fill remaining space */
    padding: 20px; /* Padding around content */
    background-color: #ffffff; /* Content background color */
}
