@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}