@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: comfortaa, sans-serif;
    box-sizing: border-box;
}

form {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    align-content: center;
    margin-bottom: 3rem;
    margin-top: 6rem;
}
