{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plum.css') }}">

<div class="container-fluid method="POST" action="" class="mx-auto">
  <div class="row">
    <div class="bg-secondary col-md-3 vh-100">
      <div class="p-1">
        <ul class="nav flex-column">
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-tachometer-alt"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="{{ url_for('home') }}" class="nav-link text-white">
                <i class="fs-5 fas fa-home"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-briefcase"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Posted Jobs</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-history"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Previous jobs</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-envelope"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Messages</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-wrench"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Get A Plumber</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-wrench"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Account</span>
            </a>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
