{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plum.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container" method="POST" action="">
    <div class="sidebar bg-secondary">
        <ul class="nav flex-column">
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-tachometer-alt"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="{{ url_for('home') }}" class="nav-link text-white">
                <i class="fs-5 fas fa-home"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-briefcase"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Posted Jobs</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-history"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Previous jobs</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-envelope"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Messages</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link text-white">
                <i class="fs-5 fas fa-wrench"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Get A Plumber</span>
            </a>
          </li>
          <li class="nav-item py-2 py-sm-0 mask">
            <a href="#" class="nav-link" data-url="{{ url_for('account') }}">
                <i class="fs-5 fas fa-user"></i>
                    <span class="fs-4 ms-3 d-none d-sm-inline">Account</span>
            </a>
          </li> 
        </ul>
      </div>
  <!-- conent section -->
    <div class="content" id="content">
       <!-- Content will be dynamically loaded here -->
    </div>
  </div>
  <!-- end of content section -->
  <script>
    $(document).ready(function() {
      // handle the click event
      $(".nav-link").click(function(event){
        event.preventDefault();
        var url = $(this).data('url');
        // make a ajax request to flask
        $.ajax ({
          url: url,
          type: 'GET',
          success: function(response) {
            // replace the .content area with the data returned
            $("#content").html(response);
          },
          error: function(error) {
            console.log("Error fetching data", error);
          }
        });
      });
    });
  </script>
{% endblock %}
