<nav class="navbar bg-primary navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.home') }}">JobOffer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('client_s.dashboard') }}">Dashboard</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('job_route.post_new_job') }}">Post A Job</a>
          </li>
          {% endif %}
        </ul>
        <!--<form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>k
        </form>-->
            <ul class="navbar-nav d-flex justify-content-center">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client_s.account') }}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <div class="dropdown ml-4">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login as
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('plums.login') }}"> A Plumber</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('client_s.login') }}">A Client</a></li>
                      </ul>
                    </div>
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Register as
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('plums.register') }}">A Plumber</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('client_s.registers') }}">A client</a></li>
                      </ul>
                    </div>
                {% endif %}
            </ul>
      </div>
    </div>
  </nav>