{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% for job in jobs %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <p><strong>Posted By: </strong><a class="mr-2" href="#">{{ job.clients.username }}</a></p>
              <small class="text-muted"><strong>Date: </strong>{{ job.date_posted.strftime('%Y-%m-%d') }}</small>
              <div class="mt-2">
                <small class="text-muted"><strong>Location: {{ job.location }} State.</strong></small>
              </div>
            </div>
            <h2><a class="article-title" href="{{ url_for('job_route.job', job_id=job.id) }}">{{ job.job_title }}</a></h2>
            <p class="article-content">{{ job.job_description }}</p>
            <p class="article-content">{{ job.content }}</p>   
          </div>
        </article>
    {% endfor %}
        <div class="btn">
          <a class="btn btn-primary" href="{{ url_for('plums.login') }}">Login as a plumber</a>
        </div>
        <div class="btn">
          <a class="btn btn-primary" href="{{ url_for('client_s.login') }}">Login as a client</a>
        </div>
{% endblock content %}