{% for job in current_user_jobs %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <div class="text-text-muted"><strong>Job Title: </strong>{{ job.job_title }}</div>
    </div>
    <ul>
      {% for applicant in job_applicants.get(job.id) or [] %}
        <li>{{ applicant.username }}
          <button type="button" class="btn btn-primary btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#assignModal{{ job.id }}{{ applicant.id }}">Assign</button>
          <!-- Modal -->
          <div class="modal fade" id="assignModal{{ job.id }}{{ applicant.id }}" tabindex="-1" aria-labelledby="assignModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="assignModalLabel">Assign Job?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form action="{{ url_for('job_route.view_applicants', job_id=job.id) }}" method="POST">
                    <input type="hidden" name="job_id" value="{{ job.id }}">
                    <input type="hidden" name="assigned_plumber" value="{{ applicant.id }}">
                    <input class="btn btn-primary" type="submit" value="Assign">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
      {% if not job_applicants.get(job.id) %}
        <li>No applicants yet for this job.</li>
      {% endif %}
    </ul>
  </div>
</article>
{% endfor %}
