<link rel="stylesheet" type="text/css" href="{{ url_for('client_s.static', filename='main.css') }}">
{% for job, assigned_plumbers_list in assigned_plumbers.items() %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted"><strong>Date: </strong>{{ job.date_posted.strftime('%Y-%m-%d') }}</small>
      <div class="mt-2">
        <small class="text-muted"><strong>Location: </strong>{{ job.location }} State.</small>
      </div>
      <div class="mt-2">
        <small class="text-muted"><strong>Assigned To:</strong></small>
        {% if assigned_plumbers_list %}  {% for plumber in assigned_plumbers_list %}
            <span>{{ plumber.username }}</span>  {% if not loop.last %} , {% endif %}
          {% endfor %}
        {% else %}
          <em>Not yet assigned</em>
        {% endif %}
      </div>
    </div>
    <p class="article-content">{{ job.job_description }}</p>
    <p class="article-content">{{ job.content }}</p> 
  </div>
</article>
{% endfor %}
